{% load static %}

<!DOCTYPE html> 
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ campaign.name }}</title>
        <link rel="stylesheet" href="{% static 'anon/css/campaignpage.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">
                <h1>{{ campaign.name }}</h1>
            </div>


            <div class="container">

                <figure id="img-div" class="img_div">
                    <img id="img-kg" class="img_kg" src="https://d1.awsstatic.com/products/Neptune/knowledge_graph.b0e9408219d92f2ca3c7a05cccf9a5a72e34ddbd.png">
                </figure>

                <div id="buttons-div" class="buttons_div_container">

                    <form method="post" class="buttons_div">
                        {% csrf_token %}
                        <button id="compare-button" type="submit" name="compare" class="button">Compare</button>
                    </form>

                    <div class="buttons_div">
                        <button id="info-button" class="button">Information</button>
                    </div> 

                    <form method="post" class="buttons_div">
                        {% csrf_token %}
                        <button id="anon-button" type="submit" name="anonymize" class="button">Anonymize</button>
                    </form>

                </div>

            </div>


            <div id="info-window" class="info_window">
                <div class="content_info_window animate">

                    <div class="info_title">
                        <h1>Information</h1>
                    </div>

                    <div class="info_data">

                        <p>
                            <span class="data_name">Clustering Algorithm: </span>
                            <span class="data_info">test</span>
                        </p>

                        <p>
                            <span class="data_name">Validation Algorithm: </span>
                            <span class="data_info">test</span>
                        </p>

                        <p>
                            <span class="data_name">Average Information Loss: </span>
                            <span class="data_info">test</span>
                        </p>

                        <p>
                            <span class="data_name">Ratio of Removed Users: </span>
                            <span class="data_info">test</span>
                        </p>

                    </div>

                    <div class="close_info_window">
                        <span id="info-close" class="close">
                            <i class="bi bi-x-circle-fill"></i>
                        </span>
                    </div>
                    

                </div>
            </div>



 
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/campaignpage.js' %}"></script>

    </body>

</html>