{% load static %}

<!DOCTYPE html> 
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ campaign.name }}</title>
        <link rel="stylesheet" href="{% static 'anon/css/campaignpage.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <body>
        
        <div class="section">

            <div class="title">
                <h1 class="title_text">{{ campaign.name }}</h1>
            </div>


            <div class="container">

                <div style="display: flex; height: 450px;">

                    <div class="canvas_div">
                        <canvas id="numNodesChart" style="width:100%; max-width:600px; height: 370px;"></canvas>
                    </div>


                    <div class="canvas_div">
                        <canvas id="numRelationsChart" style="width:100%; max-width:600px; height: 370px;"></canvas>
                    </div>


                    <div class="canvas_div">
                        <canvas id="numEdgesChart" style="width:100%; max-width:600px; height: 370px;"></canvas>
                    </div>

                </div>


                <div id="buttons-div" class="buttons_div_container">

                    <form method="post" class="buttons_div">
                        {% csrf_token %}
                        <button id="compare-button" type="submit" name="compare" class="button">Compare</button>
                    </form>

                    <form method="post" class="buttons_div">
                        {% csrf_token %}
                        <button id="anon-button" type="submit" name="anonymize" class="button">Anonymize</button>
                    </form>

                </div>

            </div>


 
        </div>


        <script>

            var xValuesNodes = ["Entities", "Values"];
            var yValuesNodes = [parseInt("{{ numEntities }}"), parseInt("{{ numValues }}")];
            var barColors = [
              "#00b398",
              "#00806c"
            ];
            
            new Chart("numNodesChart", {
                type: "pie",
                data: {
                    labels: xValuesNodes,
                    datasets: [{
                    backgroundColor: barColors,
                    data: yValuesNodes
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Total Number of Nodes: {{ numNodes }}",
                        fontSize: 20,
                        fontColor: "#000"
                    },
                    legend: {
                        display: true,
                        labels: {
                            fontSize: 14,
                            fontColor: "#000"
                        }
                    },
                    animation: {
                        duration: 1500
                    }
                }
            });
                        

            var xValuesRelations = ["Relationships", "Attributes"];
            var yValuesRelations = [parseInt("{{ numRelationships }}"), parseInt("{{ numAttributes }}")];

            new Chart("numRelationsChart", {
            type: "pie",
            data: {
                labels: xValuesRelations,
                datasets: [{
                backgroundColor: barColors,
                data: yValuesRelations
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Total Number of Relations: {{ numRelations }}",
                    fontSize: 20,
                    fontColor: "#000"
                },
                legend: {
                    display: true,
                    labels: {
                        fontSize: 14,
                        fontColor: "#000"
                    }
                },
                animation: {
                    duration: 1500
                }
            }
            });


            var xValuesEdges = ["Attribute Edges", "Relationship Edges"];
            var yValuesEdges = [parseInt("{{ numAttrEdges }}"), parseInt("{{ numRelEdges }}")];

            new Chart("numEdgesChart", {
            type: "pie",
            data: {
                labels: xValuesEdges,
                datasets: [{
                backgroundColor: barColors,
                data: yValuesEdges
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Total Number of Edges: {{ numEdges }}",
                    fontSize: 20,
                    fontColor: "#000"
                },
                legend: {
                    display: true,
                    labels: {
                        fontSize: 14,
                        fontColor: "#000"
                    }
                },
                animation: {
                    duration: 1500
                }
            }
            });

        </script>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/campaignpage.js' %}"></script>

    </body>

</html>