{% load static %}

<!DOCTYPE html> 
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title id="campaign-name-title">Compare</title>
        <link rel="stylesheet" href="{% static 'anon/css/compareresults.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
        

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">



            <div class="title">
                <h1>Compare Results</h1>
                
                <div class="title_menu">

                    <div id="menu-button" class="menu_button_div">
                        <span class="menu_button"><i class="bi bi-list"></i></span>
                    </div>

                </div>

                <div id="menu-options" class="title_menu_options">

                    <div class="menu_option">
                        <label><span style="text-decoration: underline;">Logged User:</span> {{ logged }}</label>
                    </div>

                    <div id="logout-button" class="menu_option">
                        <label>Logout</label>
                    </div>

                </div>

            </div>



            <div class="container"> 

                <div class="toggle_container">

                    <div class="bar_chart_div animate">
                        <i class="toggle_icon bi bi-bar-chart-line"></i>
                    </div>

                    <div class="toggle_div animate">
                        <label class="switch">
                            <input id="toggle-button" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="table_div animate">
                        <i class="toggle_icon bi bi-table"></i>
                    </div>

                </div>

                
                <div class="chart_table_container">

                    <div id="chartBox" class="chartBox">
                        <canvas id="myChart"></canvas>
                    </div>

                    

                    <div id="tableBox" class="tableBox">
                        <table id="graph-table" class="table">

                            <tr class="table_row title_row">
                                <th id="column-calgo" style="width:30%">Clustering Algorithm</th>
                                <th id="column-enforcer" style="width:30%">Validation Algorithm</th>
                                <th id="column-rru" style="width:20%">RRU</th>
                                <th id="column-ail" style="width:20%">AIL</th>
                            </tr>

                            {% for calgo, enforcer, rru, ail in graphs %}

                                <tr id="row-{{ forloop.counter }}" class="table_row">
                                    <td style="width:30%">{{ calgo }}</td>
                                    <td style="width:30%">{{ enforcer }}</td>
                                    <td style="width:20%">{{ rru }}</td>
                                    <td style="width:20%">{{ ail }}</td>
                                </tr>
                            
                            {% endfor %}

                        </table>
                    </div>



                </div>



                <form method="post" id="finish-button-container" class="button_div">
                    {% csrf_token %}
                    <button id="finish-button" class="button">Done</button>
                </form>


 

            </div>



        </div>

        <div id="window-logout" class="window_logout">
            <div class="content_window_logout animate">
                
                <span id="button-close" class="close"><i class="bi bi-x-circle-fill"></i></span>

                <div>
                    <div>
                        <h2 class="window_logout_text">Are you sure you want to Logout?</h2>
                    </div>
                    
                    <div class="button_logout_div">
                        <form method="post">
                            {% csrf_token %}
                            <button id="confirm-logout" type="submit" name="logout" class="button_logout">Yes</button>
                        </form>
                        <button id="cancel-logout" type="submit" name="no" class="button_logout">Cancel</button>
                    </div>

                </div>

            </div>
        </div>



        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>

            var names = {{ names|safe }};
            var RRUs = {{ rrus|safe }};
            var AILs = {{ ails|safe }};

            const data = {
                labels: names,
                datasets: [{
                    label: 'RRU',
                    data: RRUs,
                    backgroundColor: [
                        'rgba(0, 77, 65, 0.2)'
                    ],
                    borderColor: [
                        'rgba(0, 77, 65, 1)'
                    ],
                    borderWidth: 1.5
                } , 
                {
                    label: 'AIL',
                    data: AILs,
                    backgroundColor: [
                        'rgba(0, 230, 195, 0.2)'
                    ],
                    borderColor: [
                        'rgba(0, 230, 195, 1)'
                    ],
                    borderWidth: 1.5
                }
            ]
            };

            // config 
            const config = {
                type: 'bar',
                data,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            // render init block
            const myChart = new Chart( document.getElementById('myChart') , config );


        </script>

 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/compareresults.js' %}"></script>

    </body>

</html>