{% load static %}

<!DOCTYPE html> 
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title id="campaign-name-title">Compare</title>
        <link rel="stylesheet" href="{% static 'anon/css/comparehome.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>
 
    <body>
        
        <div class="section">



            <div class="title">
                <h1>Compare {{ campaign.name }} Anony Graphs</h1>
            </div>



            <div class="container">

                <div class="compare_div">
                    <p>Click on the lines below and proceed to the next screen<br>where you can compare the data from the various anonymized graphs.</p>
                </div>


                {% if not graphs %}

                    <div id="no-data-div" class="p_div">
                        <p id="no-data-p" class="no_data">No Graphs Created</p>
                    </div>

                {% else %}

                    <div id="tableBox" class="tableBox">
                        <table id="graph-table" class="table">

                            <tr class="table_row title_row">
                                <th id="column-calgo" style="width:25%">Clustering Algorithm</th>
                                <th id="column-enforcer" style="width:25%">Validation Algorithm</th>
                                <th id="column-rru" style="width:15%">RRU</th>
                                <th id="column-ail" style="width:15%">AIL</th>
                                <th style="width:20%">Last Update</th>
                            </tr>

                            {% for graph, last_update, calgo in graphs %}

                                <tr id="row-{{ forloop.counter }}" class="table_row">
                                    <td style="width:25%">{{ calgo }}</td>

                                    {% if graph.enforcer != "sr" %}
                                        <td style="width:25%">MS-Algorithm#1.00</td>
                                    {% else %}
                                        <td style="width:25%">Invalid Removal</td>
                                    {% endif %}

                                    <td style="width:15%">{{ graph.rru }}</td>
                                    <td style="width:15%">{{ graph.ail }}</td>
                                    <td style="width:20%">{{ last_update }}</td>
                                </tr>
                            
                            {% endfor %}

                        </table>
                    </div>

                {% endif %}
                

                <div class="buttons_div">

                    <div class="filter_div">
                        <button id="filter-button" class="filter_button">Filter</button>
                    </div>

                    <form method="post" class="proceed_div">
                        {% csrf_token %}
                        <input id="selected-graphs-input" type="hidden" name="selected-graphs" value="">
                        <button type="submit" name="proceed" id="proceed-button" class="proceed_button">Proceed</button>
                    </form>
                    
                </div>



            </div>



        </div>




        <div id="window-filters" class="window_filters">
            <div class="content_window_filters animate">

                <div class="filters_title">
                    <h1>Filters</h1>
                </div>

                <div class="filters_container">

                    <div class="RRU_filter">
                        <p>Ratio of Removed Users: </p>
                        <div class="values_slider_div">
                            <span id="RRU-min" class="filter_value_min">0</span>
                            <div class="slider_div">
                                <input id="RRU-filter" class="filter_range" type="range" step="0.1">
                            </div>
                            <span id="RRU-max" class="filter_value_max">100</span>
                        </div>
                        <div class="slider_current_value">
                            <span id="RRU-current-value">50</span>
                        </div>
                    </div>
    
                    <div class="AIL_filter">
                        <p>Average Information Loss: </p>
                        <div class="values_slider_div">
                            <span id="AIL-min" class="filter_value_min">0</span>
                            <div class="slider_div">
                                <input id="AIL-filter" class="filter_range" type="range" step="0.0001">
                            </div>
                            <span id="AIL-max" class="filter_value_max">100</span>
                        </div>
                        <div class="slider_current_value">
                            <span id="AIL-current-value">50</span>
                        </div>
                    </div>
    
                    <div class="clustering_alg_filter">
                        <p>Clustering Algorithm:</p>

                        <div>
                            <label class="radio_option">
                                <span>VAC</span>
                                <input id="filter-vac" class="radio_alg" type="radio" name="clustering"/>
                                <span class="checkmark"></span>
                            </label>

                            <label class="radio_option">
                                <span>k-Medoids</span>
                                <input id="filter-k-medoids" class="radio_alg" type="radio" name="clustering"/>
                                <span class="checkmark"></span>
                            </label>

                            <label class="radio_option">
                                <span>HDBSCAN</span>
                                <input id="filter-hdbscan" class="radio_alg" type="radio" name="clustering"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                    </div>
    
                    <div class="validation_alg_filter">
                        <p>Validation Algorithm: </p>

                            <div>
                                <label class="radio_option">
                                    <span>Invalid Removal</span>
                                    <input id="filter-invalid-removal" class="radio_alg" type="radio" name="validation"/>
                                    <span class="checkmark"></span>
                                </label>
    
                                <label class="radio_option">
                                    <span>MS-Algorithm</span> 
                                    <input id="filter-ms-alg" class="radio_alg" type="radio" name="validation"/>
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                    </div>

                    <div class="filters_button_div">
                        <button id="filters-button" class="button">Finish</button>
                        <button id="reset-button" class="button">Reset</button>
                    </div>

                </div>


            </div>
        </div>


        <script>

            function getMaxRRU() {
                return "{{ maxrru }}";
            }

            function getMinRRU() {
                return "{{ minrru }}";
            }

            function getMaxAIL() {
                return "{{ maxail }}";
            }

            function getMinAIL() {
                return "{{ minail }}";
            }

        </script>



        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/comparehome.js' %}"></script>

    </body>

</html>