{% load static %}

<!DOCTYPE html>  
<html lang="en">
     
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'anon/css/homedataprovider.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">

                <div>
                    <label class="logged_email">User Logged: &ensp; {{ provider.email }}</label>
                </div>

                <form method="post">

                    {% csrf_token %}

                    <div>
                        <button id="exit-button" type="submit" name="logout" class="exit_button">Logout<i class="bi bi-box-arrow-right" style="margin-left: 10px; font-size: 20px;"></i></button>
                    </div>

                </form>
                

            </div>


            <div class="container">


                {% if no_campaigns == False %}

                    <form method="post" class="campaigns">

                        {% csrf_token %}

                        {% for campaign, attrs, rels in campaigns %}

                            <button id="campaign-{{ campaign.name }}" type="submit" name="campaign" value="{{ campaign.name }}" class="campaign">
                                <h2 style="color: #006657; font-size: 40px;">{{ campaign.name }}</h2>
                                <p><span style="color: #006657;">Creator: </span><br><span id="creator-name-{{ forloop.counter }}">{{ campaign.creator }}</span></p>
                                <div class="attr_list_container">

                                    <div>
                                        <label style="text-decoration: underline; font-size: 18px; color: #006657;">Attributes:</label>
                                    </div>

                                    {% if attrs == None %}
                                        <div>
                                            <p style="color: #006657; line-height: 5px;">None</p>
                                        </div>
                                    {% else %}
                                        <div>
                                            <p class="campaign_data">{{ attrs }}</p>
                                        </div>       
                                    {% endif %}
                                    
                                    <div>
                                        <label style="text-decoration: underline; font-size: 18px; color: #006657;">Relationships:</label>
                                    </div>

                                    {% if rels == None %}
                                        <div>
                                            <p style="color: #006657; line-height: 5px;">None</p>
                                        </div>
                                    {% else %}
                                        <div>
                                            <p class="campaign_data">{{ rels }}</p>
                                        </div>  
                                    {% endif %}

                                </div>
                            </button>

                        {% endfor %}
    
                    </form>

                {% else %}

                    <div class="no_campaigns_div">
                        <p>There are no campaigns in the database,<br>so it is <span style="text-decoration: underline;">recommended to create one</span> with the button below.</p>
                    </div>

                    <div id="no-data-div" class="p_div">
                        <p id="no-data-p" class="no_data">Campaigns not yet created.</p>
                    </div>

                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <div class="button_div">
                        <button id="button-create" type="submit" name="create" class="button">Create Campaign</button>                  
                    </div>
                </form>
                

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/homedataprovider.js' %}"></script>

    </body>

</html> 