{% load static %}

<!DOCTYPE html>  
<html lang="en">
     
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'anon/css/homedataprovider.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">

                <div>
                    <label class="logged_email">User Logged: &ensp; {{ provider.email }}</label>
                </div>

                <form method="post">

                    {% csrf_token %}

                    <div>
                        <button id="exit-button" type="submit" name="logout" class="exit_button">Exit</button>
                    </div>

                </form>
                

            </div>


            <div class="container">

                <form method="post" class="campaigns">

                    {% csrf_token %}

                    {% for campaign in campaigns %}

                        <button id="campaign-{{ campaign.name }}" type="submit" name="campaign" value="{{ campaign.name }}" class="campaign">
                            <h2>{{ campaign.name }}</h2>
                            <p>Creator: <br><span id="creator-name-{{ forloop.counter }}">{{ campaign.creator }}</span></p>
                            <div class="attr_list_container">
                                <dl>

                                    <label style="text-decoration: underline; font-size: 18px;">Attributes:</label>

                                    {% for attr in campaign.attributes.all %}
                                        <dd>{{ attr }}</dd>
                                    {% empty %}
                                        <dd style="color: red;">None</dd>
                                    {% endfor %}

                                    <br>
                                    
                                    <label style="text-decoration: underline; font-size: 18px;">Relationships:</label>
                                    
                                    {% for rel in campaign.relationships.all %}
                                        <dd>{{ rel }}</dd>
                                    {% empty %}
                                        <dd style="color: red;">None</dd>
                                    {% endfor %}
    
                                </dl>
                            </div>
                        </button>

                    {% endfor %}
 
                </form>

                <form method="post">
                    {% csrf_token %}
                    <div class="button_div">
                        <button id="button-create" type="submit" name="create" class="button">Create Campaign</button>                  
                    </div>
                </form>
                

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/homedataprovider.js' %}"></script>

    </body>

</html> 