{% load static %}

<!DOCTYPE html> 
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registration</title>
        <link rel="stylesheet" href="{% static 'anon/css/registration.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body> 
         
        <div class="section">

            <div class="title">
                <h1>Registration Form</h1>
            </div>



            <div class="container">
                <h3>Please fill in this form to create an account.</h3>
                <hr>



                <div class="container_data">


                    {% if email_flag %}
                        <div class="error_msg">
                            <p style="font-size: 18px; font-weight: bold; color: white;">Insert a valid email address.</p>
                        </div>
                    {% endif %}

                    {% if pwd_flag %}
                        <div class="error_msg">
                            <p style="font-size: 18px; font-weight: bold; color: white;">Make sure that the passwords match.</p>
                        </div>
                    {% endif %}

                    {% if both_flag %}
                        <div class="error_msg">
                            <p style="font-size: 18px; font-weight: bold; color: white;">Insert a valid email address and make sure that the passwords match.</p>
                        </div>
                    {% endif %}

                    {% if owner_flag %}
                        <div class="error_msg">
                            <p style="font-size: 18px; font-weight: bold; color: white;">The email you entered matches that of another User.</p>
                        </div>
                    {% endif %}

                    {% if provider_flag %}
                        <div class="error_msg">
                            <p style="font-size: 18px; font-weight: bold; color: white;">The email you entered matches that of another Data Provider.</p>
                        </div>
                    {% endif %}


                    <!--  E-MAIL  -->


                    <div class="email_div">

                        <div class="field_name_div">
                            <label class="field_name">E-Mail:</label>
                        </div>

                        <div class="input_div">
                            <div class="field_input_div_email">
                                <input autocomplete="off" id="email-input" class="email" placeholder="E-Mail" onkeypress="return IsAlphaNumericEmail(event);" ondrop="return false;" onpaste="return false;">
                            </div>
                        </div>

                    </div>


                    <!--  PASSWORD  -->


                    <div class="pwd_div">

                        <div class="field_name_div">
                            <label class="field_name">Insert Password:</label>
                        </div>

                        <div class="input_div">

                            <div class="field_input_div">
                                <input autocomplete="off" id="pwd-input" class="pwd" placeholder="Insert Password" type="password" maxlength="25" onkeypress="return IsAlphaNumeric(event);" ondrop="return false;" onpaste="return false;">
                            </div>

                            <div class="pwd_icon_div">
                                <span id="pwd-icon-eye" class="eye_icon">
                                    <i id="icona-pwd" class="bi bi-eye-fill"></i>
                                </span>
                            </div>

                        </div>

                    </div>
                    

                    <!--  CONFERMA PASSWORD  -->


                    <div class="confirm_pwd_div">

                        <div class="field_name_div">
                            <label class="field_name">Confirm Password:</label>
                        </div>

                        <div class="input_div">

                            <div class="field_input_div">
                                <input autocomplete="off" id="confirm-pwd-input" class="pwd" placeholder="Confirm Password" type="password" maxlength="25" onkeypress="return IsAlphaNumeric(event);" ondrop="return false;" onpaste="return false;">
                            </div>

                            <div class="pwd_icon_div">
                                <span id="confirm-pwd-icon-eye" class="eye_icon">
                                    <i id="confirm-icona-pwd" class="bi bi-eye-fill"></i>
                                </span>
                            </div>

                        </div>

                    </div>



                    <div class="button_div">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="email-input" id="email-hidden" value="">
                            <input type="hidden" name="pwd-input" id="pwd-hidden" value="">
                            <input type="hidden" name="confirm-input" id="confirm-hidden" value="">
                            <button id="register-button" type="submit" name="send" class="button">Register</button>
                        </form>
                        <p>Already have an account? <a style="color: #006657;" href="{% url 'logreg' %}">Sign in</a>.</p>
                    </div>



                </div>
                
            </div>

            {% if type == 1 %}
                <div id="loader-div" class="loader_div">
                    <div class="loader"></div>
                    <h2 style="color: white; font-size: 70px;">Creating the Data Provider...</h2>
                </div>
            {% elif type == 0 %}
                <div id="loader-div" class="loader_div">
                    <div class="loader"></div>
                    <h2 style="color: white; font-size: 70px;">Creating the Data Owner...</h2>
                </div>
            {% endif %}

        </div>
        
        <script>
            document.getElementById("register-button").addEventListener('click', showLoader)

            function showLoader() {
                document.getElementById("loader-div").style.display = "flex"
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/registration.js' %}"></script>

    </body>

</html>