{% load static %}

<!DOCTYPE html>  
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Security Level</title>
        <link rel="stylesheet" href="{% static 'anon/css/seclev.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">
                <h1>Choose your Security Level</h1>
                
                <div class="title_menu">

                    <div id="menu-button" class="menu_button_div">
                        <span class="menu_button"><i class="bi bi-list"></i></span>
                    </div>

                </div>

                <div id="menu-options" class="title_menu_options">

                    <div class="menu_option">
                        <label><span style="text-decoration: underline;">Logged User:</span> {{ logged }}</label>
                    </div>

                    <div id="logout-button" class="menu_option">
                        <label>Logout</label>
                    </div>

                </div>

            </div>

            <div class="container">


                <h2>Using the Range Slider select the security level you prefer</h2>

                <hr>

                <div class="content_container">


                    <div class="text_container">
                        <div>
                            <label class="text_sec_lev">Low Security</label>
                        </div>
                        <div>
                            <label class="text_sec_lev">High Security</label>
                        </div>
                    </div>


                    <div class="slider_container">
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
                    </div>


                    <div>
                        <div class="value_text_div">
                            <label>Selected Value (1-7): <span id="value"></span></label>
                        </div>
                    </div>


                    <div>
                        <label id="sec-level-p" class="security_level_p">Mid Security Level</label>
                    </div>


                </div>
                
                <hr>


                <div class="button_div">
                    <button id="confirm-button" class="button">Confirm</button>
                </div>
                

            </div>


            <div id="window-confirm-security-value" class="window_confirm_security_value">
                <div class="content_window_confirm animate">
                    <span id="button-close-forgot" class="close"><i class="bi bi-x-circle-fill"></i></span>
                    <h2 class="window_title">Are you sure?</h2>
                    <p class="window_text">The security value you chose is k=<span id="k-value-confirm" class="k_value_confirm">*</span></p>

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="kval" id="kval" value="">
                        <button id="window-confirm-button" name="button" value="confirm" type="submit" class="window_confirm_button">Confirm</button>
                    </form>
                    
                </div>
            </div>

            <div id="window-logout" class="window_logout">
                <div class="content_window_logout animate">
                    
                    <span id="button-close" class="close"><i class="bi bi-x-circle-fill"></i></span>

                    <div>
                        <div>
                            <h2 class="window_logout_text">Are you sure you want to Logout?</h2>
                        </div>
                        
                        <div class="button_logout_div">
                            <form method="post">
                                {% csrf_token %}
                                <button id="confirm-logout" type="submit" name="logout" class="button_logout">Yes</button>
                            </form>
                            <button id="cancel-logout" type="submit" name="no" class="button_logout">Cancel</button>
                        </div>
    
                    </div>

                </div>
            </div>



            <div id="loader-div" class="loader_div">
                <div class="loader"></div>
                <h2 style="color: white; font-size: 70px;">Adding the K-Value...</h2>
                <label style="color: white; font-size: 20px;">If the process is taking too long check that the icon next to the tab at the top has the loading animation. In case it is not there click <span id="reload-page" style="color: blue; text-decoration: underline;">here</span>.</label>
            </div>

        </div>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/seclev.js' %}"></script>

    </body>

</html>