{% load static %}

<!DOCTYPE html>  
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Campaigns</title>
        <link rel="stylesheet" href="{% static 'anon/css/selectcampaign.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">
                <h1>Choose a Campaign</h1>
                
                <div class="title_menu">

                    <div id="menu-button" class="menu_button_div">
                        <span class="menu_button"><i class="bi bi-list"></i></span>
                    </div>

                </div>

                <div id="menu-options" class="title_menu_options">

                    <div class="menu_option">
                        <label><span style="text-decoration: underline;">Logged User:</span> {{ logged }}</label>
                    </div>

                    <div id="logout-button" class="menu_option">
                        <label>Logout</label>
                    </div>

                </div>

            </div>

            <div class="container">

                {% if chkCampaignsAttended == False %}

                    <h3>Select a campaign from the list below</h3>
                    <hr>

                {% endif %}

                <form style="height: 410px;" method="post">

                    {% csrf_token %}

                    {% if chkCampaignsAttended == False %}

                        <div class="campaigns">

                            {% for campaign, attrs, rels in campaigns %}
                                <div id="campaign-{{ forloop.counter }}" class="campaign">
                                    <h2 id="campaign-name-{{ forloop.counter }}">{{ campaign.name }}</h2>
                                    <p>Creator: <br><span id="creator-name-{{ forloop.counter }}">{{ campaign.creator }}</span></p>
                                        <div style="text-align: center;">
                                            <label style="text-decoration: underline; font-size: 18px; color: #006657;">Attributes:</label>
                                        </div>
        
                                        {% if attrs == None %}
                                            <div>
                                                <p style="color: #006657; line-height: 5px;">None</p>
                                            </div>
                                        {% else %}
                                            <div>
                                                <p class="campaign_data">{{ attrs }}</p>
                                            </div>       
                                        {% endif %}
                                        
                                        <div style="text-align: center;">
                                            <label style="text-decoration: underline; font-size: 18px; color: #006657;">Relationships:</label>
                                        </div>
        
                                        {% if rels == None %}
                                            <div>
                                                <p style="color: #006657; line-height: 5px;">None</p>
                                            </div>
                                        {% else %}
                                            <div>
                                                <p class="campaign_data">{{ rels }}</p>
                                            </div>  
                                        {% endif %}
                                </div>
                            {% endfor %}
                        
                        </div>

                        <input type="hidden" name="selected-campaign" id="input-campaign" value="">

                        <div class="button_div">
                            <button id="button-confirm-choice" type="submit" name="button" class="button">Confirm</button>                  
                        </div>

                    {% else %}

                        <div class="no_owners_div">
                            <p>There are no other campaigns to attend for you at the moment.<br>So, for now, you'll have to wait until a Provider creates a new one.</p>
                        </div>

                        <div id="no-data-div" class="p_div">
                            <p id="no-data-p" class="no_data">No other Campaigns to attend.</p>
                        </div>

                        <div class="button_div">
                            <button id="button" name="no-campaigns-button" type="submit" class="button">Go to Homepage</button>
                        </div>

                    {% endif %}

                </form>
                
            </div>

            <div id="window-logout" class="window_logout">
                <div class="content_window_logout animate">
                    
                    <span id="button-close" class="close"><i class="bi bi-x-circle-fill"></i></span>

                    <div>
                        <div>
                            <h2 class="window_logout_text">Are you sure you want to Logout?</h2>
                        </div>
                        
                        <div class="button_logout_div">
                            <form method="post">
                                {% csrf_token %}
                                <button id="confirm-logout" type="submit" name="logout" class="button_logout">Yes</button>
                            </form>
                            <button id="cancel-logout" type="submit" name="no" class="button_logout">Cancel</button>
                        </div>
    
                    </div>

                </div>
            </div>

            <div id="loader-div" class="loader_div">
                <div class="loader"></div>
                <h2 style="color: white; font-size: 70px;">Attending Campaign...</h2>
                <label style="color: white; font-size: 20px;">If the process is taking too long check that the icon next to the tab at the top has the loading animation. In case it is not there click <span id="reload-page" style="color: blue; text-decoration: underline;">here</span>.</label>
            </div>

        </div>

        <script>
            
            {% if chkCampaignsAttended == False %}

                var campaigns = document.getElementsByClassName("campaign"); 
                var confirmButton = document.getElementById("button-confirm-choice");

                var selectedCampaign = null;

                for (var i = 0; i < campaigns.length; i++) {
                    campaigns[i].addEventListener('click', onClickCampaign);
                }

                confirmButton.addEventListener('click', onClickConfirmButton);


                function onClickCampaign() {
                    if($('#' + this.id).hasClass("campaign") & selectedCampaign === null) {
                        $('#' + this.id).removeClass("campaign");
                        $('#' + this.id).addClass("selected_campaign");

                        document.getElementById("input-campaign").value = this.children[0].textContent;

                        selectedCampaign = this;

                    } else if ($('#' + this.id).hasClass("selected_campaign")) {
                        $('#' + this.id).removeClass("selected_campaign");
                        $('#' + this.id).addClass("campaign");

                        document.getElementById("input-campaign").value = "";

                    } else if ($('#' + this.id).hasClass("campaign") & selectedCampaign != null) {
                        $('#' + selectedCampaign.id).removeClass("selected_campaign");
                        $('#' + selectedCampaign.id).addClass("campaign");
                        $('#' + this.id).removeClass("campaign");
                        $('#' + this.id).addClass("selected_campaign");

                        document.getElementById("input-campaign").value = this.children[0].textContent;

                        selectedCampaign = this;

                    }
                }

                function onClickConfirmButton() {
                    if(selectedCampaign == null || $('#' + selectedCampaign.id).hasClass("campaign")) {
                        alert("No campaign selected");
                        selectedCampaign = null;
                    }
                }

                document.getElementById("button-confirm-choice").addEventListener('click', onClickConfirm)

                function onClickConfirm() {
                    document.getElementById("loader-div").style.display = "flex"
                }

            {% endif %}

        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/selectcampaign.js' %}"></script>

    </body>

</html>