{% load static %}

<!DOCTYPE html>  
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Campaigns</title>
        <link rel="stylesheet" href="{% static 'anon/css/selectcampaign.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">
                <h1>Choose a Campaign</h1>
            </div>

            <div class="container">

                <h3>Select a campaign from the list below</h3>
                <hr>

                <form style="height: 410px;" method="post">

                    {% csrf_token %}

                    <div class="campaigns">
                        <div id="campaign-1" class="campaign">
                            <h2>Campaign 1</h2>
                            <p>Creator: <span id="creator-name-1">John Doe</span></p>
                            <ul>
                                <li>Name</li>
                                <li>DoB</li>
                                <li>Occupation</li>
                            </ul>
                        </div>
                        <div id="campaign-2" class="campaign">
                            <h2>Campaign 2</h2>
                            <p>Creator: <span id="creator-name-2">John Doe</span></p>
                            <ul>
                                <li>Name</li>
                                <li>DoB</li>
                                <li>Occupation</li>
                            </ul>
                        </div>
                        <div id="campaign-3" class="campaign">
                            <h2>Campaign 3</h2>
                            <p>Creator: <span id="creator-name-3">John Doe</span></p>
                            <ul>
                                <li>Name</li>
                                <li>DoB</li>
                                <li>Occupation</li>
                            </ul>
                        </div>
                        <div id="campaign-4" class="campaign">
                            <h2>Campaign 4</h2>
                            <p>Creator: <span id="creator-name-4">John Doe</span></p>
                            <ul>
                                <li>Name</li>
                                <li>DoB</li>
                                <li>Occupation</li>
                            </ul>
                        </div>
                        <div id="campaign-5" class="campaign">
                            <h2>Campaign 5</h2>
                            <p>Creator: <span id="creator-name-5">John Doe</span></p>
                            <ul>
                                <li>Name</li>
                                <li>DoB</li>
                                <li>Occupation</li>
                            </ul>
                        </div>
                        <div id="campaign-6" class="campaign">
                            <h2>Campaign 6</h2>
                            <p>Creator: <span id="creator-name-6">John Doe</span></p>
                            <ul>
                                <li>Name</li>
                                <li>DoB</li>
                                <li>Occupation</li>
                            </ul>
                        </div>
                    </div>

                    <input type="hidden" name="selected-campaign" id="input-campaign" value="">

                    <div class="button_div">
                        <button id="button-confirm-choice" type="submit" name="button" class="button">Confirm</button>                  
                    </div>

                </form>
                
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/selectcampaign.js' %}"></script>

    </body>

</html>