{% load static %}

<!DOCTYPE html>  
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Campaigns</title>
        <link rel="stylesheet" href="{% static 'anon/css/selectcampaign.css' %}">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="section">

            <div class="title">
                <h1>Choose a Campaign</h1>
            </div>

            <div class="container">

                <h3>Select a campaign from the list below</h3>
                <hr>

                <form style="height: 410px;" method="post">

                    {% csrf_token %}

                    <div class="campaigns">

                        {% for campaign in campaigns %}
                            <div id="campaign-{{ forloop.counter }}" class="campaign">
                                <h2 id="campaign-name-{{ forloop.counter }}">{{ campaign.name }}</h2>
                                <p>Creator: <br><span id="creator-name-{{ forloop.counter }}">{{ campaign.creator }}</span></p>
                                <ul>

                                    {% for attr in campaign.attributes.all %}
                                        <li>{{ attr }}</li>
                                    {% endfor %}

                                    {% for rel in campaign.relationships.all %}
                                        <li>{{ rel }}</li>
                                    {% endfor %}
                            
                                </ul>
                            </div>
                        {% endfor %}
                    
                    </div>

                    <input type="hidden" name="selected-campaign" id="input-campaign" value="">

                    <div class="button_div">
                        <button id="button-confirm-choice" type="submit" name="button" class="button">Confirm</button>                  
                    </div>

                </form>
                
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <script src="{% static 'anon/js/selectcampaign.js' %}"></script>

    </body>

</html>