body{
    background-color: #d9d9d9;
    font-family: 'Lato', sans-serif;
}

.section{
    border: 3px solid #004d41;
    border-radius: 10px;
    max-width: 1300px;
    margin: 120px auto;
    height: 730px;
    position: relative;
    background: white;

    box-shadow: 5px 5px 10px grey;
}

.title {
    background: linear-gradient(#004d41, #009982);
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.title_text {
    line-height: 0px;
}

.container {
    text-align: center;
}





.buttons_div_container {
    display: flex;
    margin-top: 30px;
}

.buttons_div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 10px 30px;
    width: 250px;
    color: white;
    background: linear-gradient(#00806c, #00b398);
    border: 3px solid #00806c;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px;
    transition: .3s all ease-in-out;
}

.button:hover {
    background: linear-gradient(#00806c, #00ccad);
    transform: scale(1.1);
}




.canvas_div {
    width: 33.5%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}









.info_title {
    background-color: red;
    color: white;
    padding: 2px;
    font-size: 22px;
    text-align: center;
}

.info_data {
    padding: 30px;
}

.data_name {
    font-size: 27px;
    font-weight: bold;
}

.data_info {
    font-size: 22px;
}





.kg_window {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 1s ease-in-out;
    align-items: center;
}

.content_kg_window {
    background-color: #fff;
    border: 3px solid #00806c;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.kg_title_div {
    width: 100%;
    position: relative;

    background: linear-gradient(#004d41, #009982);
    color: white;
    padding: 20px;

    font-size: 35px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.close {
    position: absolute;
    right: 10px;
}
  
.close:hover, .close:focus {
    transform: scale(1.1);
    cursor: pointer;
}
















*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}