body{ 
    background-color: #d9d9d9;
    font-family: 'Lato', sans-serif;
}

.section{
    border: 3px solid #004d41;
    border-radius: 10px;
    max-width: 1300px;
    margin: 120px auto;
    height: 730px;
    position: relative;
    background: white;

    box-shadow: 5px 5px 10px grey;

    display: flex;
    flex-direction: column;
}

.title {
    background: linear-gradient(#004d41, #009982);
    color: white;
    padding: 5px;
    font-size: 25px;
    line-height: 20px;
    text-align: center;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.title_menu {
    position: absolute;
    right: 20px;
    color: white;
    text-align: right;
}

.menu_button_div {
    border: 3px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s all ease-in-out;
}

.menu_button_div:hover {
    transform: scale(1.1);
}

.menu_button {
    font-size: 35px;
    font-weight: bold;
}



.title_menu_options {
    display: none;

    position: absolute;
    top: 80px;
    right: 20px;
    color: white;
    text-align: right;

    border: 2px solid #004d41;
    border-radius: 5px;
}

.menu_option {
    height: 35px;
    padding: 5px;
    background-color: rgba(0, 179, 152, .7);
    opacity: 1;
    font-weight: bold;

    transition: .3s all ease-in-out;
}

.menu_option:hover {
    font-size: 27px;
}







.container {
    flex: 1 1 auto;
    padding: 40px;
}



.buttons_div {
    display: flex;
}

.attribute_button_div {
    width: 50%;
    padding: 10px;
}

.relationship_button_div {
    width: 50%;
    padding: 10px;
    text-align: right;
}







.list_div {
    margin: 20px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid #00806c;
    border-radius: 15px;
}

.list_div ul {
    border-radius: 10px;
    margin-right: 37px;
    position: relative;
}

.list_div ul li {
    list-style: none;
    padding: 10px 20px;
    width: 100%;
    font-size: 27px;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
    transition: .2s all ease-in-out;
    display: flex;
}

.list_div ul li:hover {
    transform: scale(1.05);
    border: 2px solid black;
    border-radius: 15px;
}

.data_name {
    width: 90%;
}

.data_modify {
    width: 5%;
}

.data_modify:hover {
    color: #00806c;
}

.data_delete {
    width: 5%;
}

.data_delete:hover {
    color: #00806c;
}

.list_div::-webkit-scrollbar {
    width: 20px;
}
   
.list_div::-webkit-scrollbar:hover {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.list_div::-webkit-scrollbar-thumb {
    background: #d9d9d9; 
    border-radius: 10px;
}
  
.list_div::-webkit-scrollbar-thumb:hover {
    background-color: #bfbfbf;
}







.p_div {
    line-height: 270px;
    height: 292px;
    text-align: center;
}

.no_data {
    padding: 20px;
    border: 3px solid #004d41;
    border-radius: 10px;
    background: linear-gradient(#004d41, #009982);
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
















.name_div {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.3); 
    padding-top: 60px;
    transition: all 1s ease-in-out;
}

.content {
    background-color: #fff;
    margin: 17% auto; 
    border: 3px solid #00806c;
    border-radius: 5px;
    width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    padding: 20px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.input_name_div {
    width: 90%;
    padding-right: 15px;
}

.icon_div {
    width: 10%;
    padding: 10px;
}

.name {
    width: 100%;
    font-size: 25px;
    outline: none;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px;
    margin-top: 45px;
}

.button_name {
    font-size: 35px;
    line-height: 110px;
    color: #009982;
}

.button_name:hover {
    color: #00806c;
}








.button_div {
    text-align: center;
    margin-top: 40px;
}


.button {
    margin: 0 30px;
    width: 300px;
    color: white;
    background: linear-gradient(#00806c, #00b398);
    border: 3px solid #00806c;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px;
    transition: .3s all ease-in-out;
}

.button:hover {
    background: linear-gradient(#00806c, #00ccad);
    transform: scale(1.1);
}








.loader_div {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: all 1s ease-in-out;
    flex-direction: column;
}

.loader {
    border: 50px solid #f3f3f3;
    border-radius: 50%;
    border-top: 50px solid #00806c;
    width: 500px;
    height: 500px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}






.button_logout_div {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_logout {
    margin: 0 30px;
    width: 300px;
    color: white;
    background: linear-gradient(#00806c, #00b398);
    border: 3px solid #00806c;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px;
    transition: .3s all ease-in-out;
}

.button_logout:hover {
    background: linear-gradient(#00806c, #00ccad);
    transform: scale(1.1);
}

.window_logout {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 1s ease-in-out;
    align-items: center;
}

.content_window_logout {
    background-color: #fff;
    border: 3px solid #004d41;
    border-radius: 5px;
    width: 40%;
    height: 35%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.window_logout_text {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #009982;
    font-size: 25px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: #006657;
    cursor: pointer;
}







*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}